<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebApp</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        .input-validation-error{
            border-color: red;
            background-color: red;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
